/* Variables */
@import "variables";
/* Files */
@import "rooms";

/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap";

/* Noty */
@import "~vuejs-noty/dist/vuejs-noty.css";



body {
  overflow-y: scroll;
}

footer {
    margin-top: 50px;
}

// animation
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}


h1, .title {
    font-size: 25px;
    padding: 30px 0;
    color: $main_blue;
}

.subtitle {
    font-size: 16px;
    padding: 30px 0;
}

